In [15]:
#most positive, most negative, largest range, biggest reversal

# Load necessary libraries
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [16]:
file_path = os.path.join(os.getcwd(), "data", "data.xlsm")

try:
    # Read each sheet into a DataFrame
    mimic3d_df = pd.read_excel(file_path, sheet_name='mimic3d', engine='openpyxl')
    sheet2_df = pd.read_excel(file_path, sheet_name='Sheet2', engine='openpyxl')

except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
except ValueError as e:
    print(f"Error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")

/Users/matthewpecko/anaconda3/envs/data-science/lib/python3.11/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Web Extension extension is not supported and will be removed
  for idx, row in parser.parse():

In [17]:
mimic3d_df

,hadm_id,gender,Gender,age,Age group,age.1,Adult,Teen,Middle Age,Child,...,NumMicroLabs,NumNotes,NumOutput,NumRx,NumProcEvents,NumTransfers,NumChartEvents,ExpiredHospital,TotalNumInteract,LOSgroupNum
0,100001,F,1,35,Adult,1,1,0,0,0,...,0.65,0.05,5.19,14.91,1.13,0.65,398.70,0,493.89,1
1,100003,M,0,59,Senior,4,0,0,0,0,...,1.24,1.59,5.45,7.18,0.99,1.24,373.02,0,465.71,1
2,100006,F,1,48,Middle Age,3,0,0,1,0,...,0.33,0.15,4.15,6.23,0.00,0.33,286.21,0,344.00,3
3,100007,F,1,73,Senior,4,0,0,0,0,...,0.69,0.17,9.05,11.52,0.00,0.96,526.06,0,603.05,1
4,100009,M,0,60,Senior,4,0,0,0,0,...,0.61,0.34,16.19,25.00,2.87,2.05,554.92,0,679.84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,199993,M,0,60,Senior,4,0,0,0,0,...,0.20,0.13,23.11,8.01,0.00,0.08,1315.46,0,1746.31,3
58972,199994,F,1,58,Senior,4,0,0,0,0,...,2.26,0.30,7.90,0.00,0.00,0.31,674.05,0,834.98,2
58973,199995,M,0,23,Adult,1,1,0,0,0,...,0.54,0.10,6.27,5.79,0.00,0.36,207.10,0,261.30,3
58974,199998,M,0,69,Senior,4,0,0,0,0,...,0.17,0.35,12.24,17.69,0.00,1.02,426.87,0,537.42,1
58975,199999,M,0,88,Senior,4,0,0,0,0,...,1.64,0.40,4.73,5.82,0.55,0.73,550.36,0,614.59,1

In [18]:
mimic3d_df.dtypes

hadm_id               int64
gender               object
Gender                int64
age                   int64
Age group            object
age.1                 int64
Adult                 int64
Teen                  int64
Middle Age            int64
Child                 int64
Senior                int64
LOSdays             float64
admit_type           object
EMERGENCY             int64
NEWBORN               int64
URGENT                int64
ELECTIVE              int64
admission             int64
admit_location       object
AdmitDiagnosis       object
insurance            object
Private               int64
religion             object
marital_status       object
ethnicity            object
NumCallouts         float64
NumDiagnosis        float64
NumProcs            float64
AdmitProcedure       object
NumCPTevents        float64
NumInput            float64
NumLabs             float64
NumMicroLabs        float64
NumNotes            float64
NumOutput           float64
NumRx               float64
NumProcEvents       float64
NumTransfers        float64
NumChartEvents      float64
ExpiredHospital       int64
TotalNumInteract    float64
LOSgroupNum           int64
dtype: object

In [19]:
# Create a correlation matrix
correlation_matrix = mimic3d_df.corr()

# Save or display the correlation matrix
print("Correlation Matrix:")
print(correlation_matrix)
correlation_matrix.to_csv("correlation_matrix.csv", index=True)

ValueError: could not convert string to float: 'F'

In [ ]:
# Prepare data for linear regression
target = 'LOSgroupNum'
predictors = mimic3d_df.drop(columns=[target, 'hadm_id'])  # Drop target and ID column

# Convert categorical variables to dummy variables (one-hot encoding)
predictors = pd.get_dummies(predictors, drop_first=True)

# Handle missing values
predictors = predictors.fillna(0)

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(predictors, mimic3d_df[target], test_size=0.2, random_state=42)

# Perform linear regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Make predictions
y_pred = linear_model.predict(X_test)

# Calculate metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("\nLinear Regression Metrics:")
print(f"Mean Squared Error: {mse}")
print(f"R-squared Score: {r2}")